<!--The content below is only a placeholder and can be replaced.-->

<ul class="topbar">
  <li><a class="active" href="#home"></a></li>
  <li><div class="circle"></div></li>
</ul>

<ul class="bottombar">
  <li><a class="active" href="#home"></a></li>
  <li><a href="#news"></a></li>
  <li><a href="#contact"></a></li>
  <li><a href="#about"></a></li>
</ul>

<section>

  <div class="flex-grid flex-grid--2">
    <div class="flex-grid__item"><div class="icon"></div></div>
    <div class="flex-grid__item"><div class="icon"></div></div>
    <div class="flex-grid__item"><div class="icon"></div></div>
    <div class="flex-grid__item"><div class="icon"></div></div>
    <div class="flex-grid__item"><div class="icon"></div></div>
    <div class="flex-grid__item"><div class="icon"></div></div>
    <div class="flex-grid__item"><div class="icon"></div></div>
    <div class="flex-grid__item"><div class="icon"></div></div>
    <div class="flex-grid__item"><div class="icon"></div></div>
    <div class="flex-grid__item"><div class="icon"></div></div>
  </div>
  <p>
</section>


<router-outlet></router-outlet>
